
h1 {
    color: #886cab;
    font-family:Verdana;
    text-align: center;
    padding: 10px;}

p {
    color: rgb(54, 53, 53);
    font-family:Verdana;
    font-size: 14px;}

h1.left {
    color: #886cab;
    font-family:Verdana;
    text-align: left;
    padding: 10px;}

.right_style {
    float:right;
    color: rgb(96, 96, 96); 
    background-color: transparent; 
    text-decoration: none;}

.centreren{
    text-align: center;}

.navbar_colour{
    position: sticky;
    top: 0;
    background-color:rgb(255, 255, 255);
    font-size: 20px;}

.nav_button {
    color: rgb(96, 96, 96);
    font-size: 20px; 
    background-color: transparent; 
    text-decoration: none;}

.button {
    background-color: white;
    border: 3px solid #886cab;
    color: #886cab;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;}

.button:hover {
    background-color: #886cab;
    color: white;}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    width: 33em;}


.footer {
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    background-color: rgb(96, 96, 96);
    color: white;
    text-align: right;
    padding: 3px;
    font-size: 5px;}



.labelset {
    background-color: white;
    border: 2px solid #886cab;
    color: #886cab;
    padding: 8px 57px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;}


.startbutton {
    background-color: #886cab;
    border: 3px solid #886cab;
    color: white;
    padding: 8px 123px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;}
 
.startbutton:hover {
    background-color: #5c4577;
    color: white;}

.aboutpart {
    background-color: #ffffff;
    width: 100%;
    height: 633px}

.mainpart {
    background-color: #ffffff;
    width: 100%;
    height: 597px;
    color: white;}

* {
    box-sizing: border-box;}
      
.row {
    display: flex;}

.column {
    flex: 50%;
    padding: 10px;}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}

    .dropbtn {
        background-color: white;
        color: #886cab;
        padding: 8px 57px;
        font-size: 16px;
        text-align: center;
        border: 2px solid #886cab;
        margin: 4px 2px;
        min-width: 286px;
        max-width: 286px;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #886cab;
        color: white;
        min-width: 286px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
    
      
      .dropdown-content :hover {
        background-color: #5a4376;
        color: white;
    }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #886cab;
        color: white;
      }